<footer class="pt-4">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Chúng tôi cung cấp những sản phẩm trang sức, phụ kiện cao
                        cấp với
                        chất lượng tuyệt vời.</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Shop</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                        <li><a href="#" class="text-white">Privacy
                                Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="#" class="text-white me-3"><i
                            class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i
                            class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i
                            class="fab fa-twitter fa-lg"></i></a>
                </div>
            </div>
            <hr class="my-3">
            <div class="text-center pb-3">
                <p class="mb-0">&copy; 2025 YourBrand. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>