<nav>
    <div class="nav-top d-flex justify-content-between">
        <div class="nav-top-group-left pt-4 ps-3">
            <i class="fa fa-search" id="openSearch" (click)="toggleSearch()"
                aria-hidden="true"></i>

            <!-- Ô tìm kiếm -->
            <div class="search-box" *ngIf="isSearchOpen">
                <input type="text" placeholder="Tìm kiếm sản phẩm..."
                    [(ngModel)]="searchQuery">
                <button (click)="search()">Tìm kiếm</button>
            </div>
            <a href="#" class="text-decoration-none ms-5"><i
                    class="fa fa-volume-control-phone me-2"
                    aria-hidden="true"></i>Contact
                Us</a>
        </div>
        <div class="nav-top-logo"><a href><img src="assets/image/Logo.png"
                    alt="logo" width="160"></a></div>
        <div class="nav-top-group-right d-flex pt-4 pe-3">
            <i class="fa fa-user" aria-hidden="true"
                (click)="handleUserClick()"></i>
            <p class="me-3">Hi, {{userName}}</p>
            <div class="user-menu" *ngIf="isUserMenuOpen">
                <ul>
                    <li><a href="#">Thông tin cá nhân</a></li>
                    <li><a href="#">Đơn hàng</a></li>
                    <li><a href="#">Cài đặt</a></li>
                    <li><a href="#" (click)="handleLogOut()">Đăng xuất</a></li>
                </ul>
            </div>
            <i class="far fa-heart me-5" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart me-1" (click)="handleCartClick()"
                aria-hidden="true"></i>
        </div>
    </div>

    <!-- Nav link -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center"
                id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">High
                            Jewelry</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="#">Jewelry</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Love &
                            Engagement</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Fine
                            Watches</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="#">Accessories</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="#">Gifts</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="#">Stories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="nav-bottom">

    </div>
</nav>