@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #dddddd !important;
    text-align: center;
    color: #797979;
}

footer a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #007bff;
}

.content {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;

}


.nav-top {}

.navbar-nav {
    margin: auto;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}


@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        padding: 10px 0;
    }
}